NODE_ENV=production
PORT=4000
MONGODB_URI=mongodb+srv://stepheneotieno20_db_user:9vERNcphWwTnxngf@bolt.vmavnjy.mongodb.net/?appName=Bolt
REDIS_URL=redis://default:SbHq77AIqKhqdunbGL71EHtUaEXKNzOm@frosted-bluish-engrossing-76598.db.redis.io:15446
JWT_SECRET=ac3040d879a9801b2a6ec00b36338800d09c3d86ea891461aa96237cb0b00410
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
BCRYPT_SALT_ROUNDS=12
REFRESH_TOKEN_COOKIE_NAME=bolt_refresh_token
CLOUDINARY_CLOUD_NAME=Bolt
CLOUDINARY_API_KEY=558823596328151
CLOUDINARY_API_SECRET=sziTf0zaFTzKfNe1Cawc0Y9GlA8
